<nav class="navbar navbar-expand-lg @@classList">
  <div class="container-lg">

    <!-- Brand -->
    <a class="navbar-brand d-lg-none" href="@@webRoot/index.html">
      <img src="assets/img/logo.png" style="width: 200px; height: auto" alt="...">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Navigation -->
      <ul class="navbar-nav justify-content-end w-100">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-item" id="blog" href="@@webRoot/blog.html" role="button" aria-haspopup="true" aria-expanded="false">
            Blog
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-item" id="pricing" href="@@webRoot/pricing.html" role="button" aria-haspopup="true" aria-expanded="false">
            Pricing
          </a>
        </li>
      </ul>

      <!-- Brand -->
      <a class="navbar-brand d-none d-lg-block px-lg-6" href="@@webRoot">
        <img src="assets/img/logo.png" style="width: 270px; height: auto" alt="...">
      </a>

      <!-- Navigation -->
      <ul class="navbar-nav justify-content-start w-100">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-item" id="report" href="@@webRoot/report.html">
            Example Report
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-item" id="logIn" href="https://app.blueriddle.io" role="button" aria-haspopup="true" aria-expanded="false">
            Log in
          </a>
        </li>
      </ul>

    </div>

  </div>
</nav>
